<h1> Hello world </h1>

<table>

    <thead>
        <tr>
            <th colspan="2" >The Cat </th>
        </tr>
    </thead>

    <tbody> 
        <tr> 
            <td> Name: </td>
            <td> <%= @cat.name %> </td>

        </tr>
        </tbody>
</table>
